/* 
orange: #e67e22

*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    color : #555; /* font color */
    font-family: 'Lato', 'Arial', sans-serif; /* if Lato not available, use arial　*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

/* Clear float after element */

.clearfix {zoom:1}


.clearfix:after{ /*the 'after' is crucial!*/
    content:'.';
    clear:both;
    display:block;
    height: 0;
}

/*------------------------------------------*/
/* Header */
/*------------------------------------------*/

header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* cool effect where image stays in the same place when scrolling */
    height:100vh;
}

.hero-text-box{
    position: absolute; /* only way to vertically and horizontally center*/
    width:1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /* to center */
}

/* ----- Nav ----- */

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 60px;
}

.main-nav li{
    display: inline-block; /* to get links side by side */
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0; /* bottom border need spacing */
    color: #fff; /* text */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%; /* 20*0.9 = 18px */
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}



/*------------------------------------------*/
/* Reusable */
/*------------------------------------------*/

.row {
    max-width: 1140px; /* only one with absolute values */
    margin: 0 auto;
}

section{ /* each page */
    padding: 80px 0; /* tb:80, lr:0 */
}

/* ----- Headings ----- */

h1,h2,h3 {
    font-weight: 300; /* decrease font weight */
    text-transform: uppercase;

}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /* headline: larger size */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{ /* divider after h2 */
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " "; /* must specify content, just put empty as placeholder*/
    width: 100px;
    margin: 0 auto; /* tb:0, lr: auto */
    margin-top: 30px; /* space above divider */
    margin-bottom: 30px; /* space below divider */
}

h3{
    font-size: 110%; 
    margin-bottom: 15px;
}

/* ----- Paragraphs ----- */

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%; /* center content: 15% l + 70% content + 15% r = 100% width */
    
}

.box{
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- Icons ----- */

.icon-big{ /* treat it like text */
    font-size: 350%; /* can set font size of icons */
    display: block; /* force in-line break */
    color: #e67e22; /* can set 'font color' this way */
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-right: 10px;
}

/* ----- Links ----- */

a{
    color:#e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}

a:hover{
    color: #555;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}


/*------------------------------------------*/
/* Button */
/*------------------------------------------*/

.btn:link, 
.btn:visited,
input[type=submit]{ /* so that both link and visited look the same */
    display: inline-block;
    padding:10px 30px; /* t/b:10, l/r:30 */
    font-weight: 300;
    text-decoration: none; /* get rid of underline */
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* smooth change */
}


.btn-full:link, 
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22; /* so same size as ghost */
    color: #fff; /* font color */
    margin-right: 15px; /* to space out buttons a lil */
}

.btn-ghost:link, 
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22; /* font color */
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{ /*hover and active MUST COME AFTER link and visited*/
    background-color: #cf6d17; /* darker */
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{ /*hover and active MUST COME AFTER link and visited*/
    border: 1px solid #cf6d17; /* border must be darker too */
}

.btn-ghost:hover,
.btn-ghost:active{ /*hover and active MUST COME AFTER link and visited*/
    border: 1px solid #cf6d17; /* border must be darker too */
    color: #fff;
}

/*------------------------------------------*/
/* Sectino 1 - Features */
/*------------------------------------------*/

.section-features .long-copy{
    margin-bottom: 40px; /* add space above icons */
}

/*------------------------------------------*/
/* Section 2 - Meals */
/*------------------------------------------*/

.section-meals{
    padding:0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block; /* inline-block will have white space in between */
    float: left;
    width: 25%; /* 4 elements, each has to be 25% */
}

.meal-photo{ /* image container */
    width: 100%;
    margin: 0px;
    overflow: hidden; /* image will not stretch container but cover it */
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7; /* dim: container's black background will show a bit*/
    width: 100%; /* image as wide as container */
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; /* hover transition */
}

.meal-photo img:hover{
    opacity: 1; /* make image brighter */
    width: 100%; /* image as wide as container */
    height: auto;
    -webkit-transform: scale(1.03);
    transform: scale(1.03); /*zoom out on hover; exactly 1 gives whitespace*/
}

/*------------------------------------------*/
/* Section 3 - How it works */
/*------------------------------------------*/

.section-steps{ /* whole section's container */
    background-color: #f4f4f4; /* light gray bg to distinguish it from other sections */
}

.steps-box{
    margin-top: 30px;
}

.steps-box:first-child{ /* iphone image container */
    text-align: right; /* works for all inline block elements, including img*/
    padding-right: 3%;
}

.steps-box: last-child{ /* 3 steps */
    padding-left: 3%;
    
}

/* iphone image */
.app-screen{ 
    width: 40%;
}

/* each step - container */
.works-step{ 
    margin-bottom: 50px;
}

 /* each circular number in the step */
.works-step div{
    display: inline-block; /* or else will take up whole width*/
    border: 2px solid #e67e22;
    color: #e67e22;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left; /* so text after number is to the right of number */
    font-size: 150%;
    margin-right: 25px;
}


.works-step:last-of-type{
    margin-bottom: 80px;
}

/* app buttons */

.btn-app:link, .btn-app:visited{
    border: 0px;
}

.btn-app img{
    height: 50px; /* so both buttons have same height */
    width: auto;
    margin-right: 10px;
}

/*------------------------------------------*/
/* Section 4 - Cities */
/*------------------------------------------*/


.box img{
    width:100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px; /* each feature (line), like x happy eaters, etc */
}

/*------------------------------------------*/
/* Section 5 - Testimonials */
/*------------------------------------------*/

.section-testimonials{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.8)),to(rgba(0,0,0,0.8))),url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: white; /* font */
    background-attachment: fixed; /*real cool effect where image stays in the same place even if scrolling */
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative; /* must set this or absolute child won't work */
}

/*quotation mark*/

blockquote:before{
    content: "\201C"; /* quotation mark */
    font-size: 400%;
    display: block;
    position: absolute; /*must make sure parent is relative */
    top: -5px;
    left: -3px;
}

blockquote:after{
    content: "\201D"; /* quotation mark */
    font-size: 400%;
    display: block;
    position: absolute; /*must make sure parent is relative */
    bottom: 40px;
    right: 10px;
}

cite{
    display: block; /* so it starts next line*/
    font-size: 90%;
    margin-top: 25px;
}


cite img{
    height: 50px;
    border-radius: 50%; /* make any margin round */
    margin-right: 10px;

    vertical-align: middle; /* so image is vertically centered with name */
}

/*------------------------------------------*/
/* Section 6 - Plans */
/*------------------------------------------*/

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{ /* without plan-box, the white background would not have been possible */
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5px; /* remaining 5% is from right, since width is 90% */
}

.plan-box div{ /* 3 divs: plan type, bullets, sign up button */
    padding: 15px;
    border-bottom: 1px solid #e8e8e8; /* light grey border at bottom */
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef; /* box shadow: x-offset, y-offset, blur, color */
}

.plan-box div:first-child{
    background-color: #fcfcfc; /* bg of first div */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{ /* div for sign up button */
    text-align: center;
    border-bottom: 0;
}

.plan-price-month{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price-month span{ /* "per month" */
    font-size: 30%;
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0; /* no bullet */
}

/*------------------------------------------*/
/* Section 6 - Form */
/*------------------------------------------*/

.contact-form{
    width: 60%; 
    margin: 0 auto; /* tb:0, lr: auto, so element will be centered in parent */
}

input[type=text],
input[type=email], 
select, 
textarea{
    width: 100%; /* fill whole column */
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px; /* make it longer */
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
    
}

input[type=submit]{
    font-family: 'Lato', 'Arial', sans-serif; /* if Lato not available, use arial　*/
}

*:focus {outline: none;} /*get rid of chrome focus blue fuzzy border */

/*------------------------------------------*/
/* Section 7 - Footer */
/*------------------------------------------*/

footer{
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}

.footer-nav{
    list-style: none; /* no bullets */
    float: left;
}

.social-icons{
    list-style: none; /* no bullets */
    float: right;
}

.footer-nav li,
.social-icons li{
    display: inline-block; /* side by side instead of stacked vertically*/
    margin-right: 20px;
}

.social-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0; /*gets rid of border bottom */
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; /* transition: property time */
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

footer p{
    color: #888; /* same color as links */
    text-align: center;
    font-size: 90%;
    margin-top: 10px;
}

.social-icons li a:link,
.social-icons li a:visited{
    font-size: 160%;
}

/* social media icons will change colors upon hover */

.ion-social-facebook:hover{
    color: #3b5998;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-twitter:hover{
    color: #55acee;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-instagram:hover{
    color: #125688;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}


